<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- The API key can be found at https://cloudconvert.com/user/profile after login. -->
        <!-- Note that the public API key on https://cloudconvert.com/apiconsole without login cannot be used for test. -->
        <!-- The API key below is an example, not the real one. -->
        <add key="ApiKey" value="3qNaQa9iNGOzFv4a2HWtFBWNFGJyyQiBoYtnJLrCUAUppnMzcvZrV7SYKF1_Q4P55zcnFbZni14poKBmCT-BaQ" />
        <add key="Url.Process" value="https://api.cloudconvert.com/process" />
    </appSettings>
</configuration>