<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- This wrapper supports both custom configuration section, converterSettings, and appSettings section. -->
    <!-- Even though the converterSettings section is preferrable, if it's not defined, it alternatively looks for the appSettings section. -->
    <!-- If the converterSettings section is defined, the values defined in the appSettings section are ignored. -->
    <configSections>
        <section name="converterSettings" type="Aliencube.CloudConvert.Wrapper.ConverterSettings, Aliencube.CloudConvert.Wrapper" requirePermission="false" />
    </configSections>

    <converterSettings>
        <basic processUrl="https://api.cloudconvert.com/process">
            <!-- The API key can be found at https://cloudconvert.com/user/profile after login. -->
            <!-- Note that the public API key on https://cloudconvert.com/apiconsole without login cannot be used for test. -->
            <!-- The API key below is an example, not the real one. -->
            <apiKey value="3qNaQa9iNGOzFv4a2HWtFBWNFGJyyQiBoYtnJLrCUAUppnMzcvZrV7SYKF1_Q4P55zcnFbZni14poKBmCT-BaQ" />
        </basic>
    </converterSettings>

    <appSettings>
        <!-- The API key can be found at https://cloudconvert.com/user/profile after login. -->
        <!-- Note that the public API key on https://cloudconvert.com/apiconsole without login cannot be used for test. -->
        <!-- The API key below is an example, not the real one. -->
        <add key="ApiKey" value="3qNaQa9iNGOzFv4a2HWtFBWNFGJyyQiBoYtnJLrCUAUppnMzcvZrV7SYKF1_Q4P55zcnFbZni14poKBmCT-BaQ" />
        <add key="ProcessUrl" value="https://api.cloudconvert.com/process" />
    </appSettings>
</configuration>